<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TeLlevoAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">sugerencias</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button routerLink="/home">home
  </ion-button>
  <ion-button routerLink="/servicios">Volver
  </ion-button>
  <ion-list>
    <ion-list>
      <ion-item>
        <ion-input label="Usuario =" [(ngModel)]="username" placeholder="Ingrese su usuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Sugerencias =" [(ngModel)]="password" minlength="3" maxlength="150"
          value="password" placeholder="Aquí su sugerencia"></ion-input>
      </ion-item>

      <ion-item>
        <ion-button expand="full" (click)="login()">Enviar </ion-button>

      </ion-item>


    </ion-list>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>DUOC UC</ion-title>
  </ion-toolbar>
</ion-footer>
