<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TeLlevoAPP</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">conductores</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button routerLink="/home">home
  </ion-button>
  <ion-button routerLink="/servicios">Volver
  </ion-button>
  <ion-card>
    <img alt="Alberto" src="https://images.ctfassets.net/n7hs0hadu6ro/2tRKtpODKfqkGqqfyuOGJ4/02b62439ec3e52caaf314069a6d727da/mx.RequirementHero.bgImage.jpg?w=2560&h=1463&fl=progressive&q=50&fm=jpg" />
    <ion-card-header>
      <ion-card-title>Alberto Tobirama</ion-card-title>
      <ion-card-subtitle>Rut: 17.698.356-1</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Patente:YU-14-54
    </ion-card-content>
    <ion-card-content>
      Tarifa: $1500
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img alt="Juan" src="https://www.seguridadvialenlaempresa.com/media/blog/requisitos-conductor-autobus-1194x585-1.jpg" />
    <ion-card-header>
      <ion-card-title>Pepe Guns</ion-card-title>
      <ion-card-subtitle>21.885.753-6</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Patente:JT-LT-33
    </ion-card-content>
    <ion-card-content>
      Tarifa: $1000
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img alt="Hilario" src="https://images.ctfassets.net/n7hs0hadu6ro/4CxOlH3Fy42WkZtfQKoKDd/dba556118d97ea20efa1692f74e9220b/conductor-didi?w=500&h=500&fl=progressive&q=50&fm=jpg" />
    <ion-card-header>
      <ion-card-title>Hilario Uchiha</ion-card-title>
      <ion-card-subtitle>16.332.698-7</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Patente:ER-TY-74
    </ion-card-content>
    <ion-card-content>
      Tarifa: $1600
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>DUOC UC</ion-title>
  </ion-toolbar>
</ion-footer>