<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TeLlevoAPP
    </ion-title>
  </ion-toolbar>
  <ion-button routerLink="/login">Inicio sesion
  </ion-button>
  <ion-button routerLink="/servicios">Servicios
  </ion-button>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>TeLlevoAPP</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
   
 </div>
</ion-content >
<ion-card button routerLink="/servicios">
  <img alt="Silhouette of mountains" src="https://us.123rf.com/450wm/argument/argument1802/argument180200124/95817225-rata-dom%C3%A9stica-en-el-coche-de-juguete.jpg" />
  <ion-card-header>
    <ion-card-title>Viaja seguro</ion-card-title>
    <ion-card-subtitle>Recuerda siempre llevar todos tus documentos y respetar a tu conductor</ion-card-subtitle>
  </ion-card-header>


</ion-card>
<ion-footer>
  <ion-toolbar>
    <ion-title >DUOC UC</ion-title>
  </ion-toolbar>
</ion-footer>